<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias | Fontrack</title>
    <link rel="stylesheet" href="../static/style2.css"> <!-- Enlace al CSS externo -->
</head>
<body>
    <header class="header">
        <img src="../static/img/FK.jpeg" alt="Logo Fontrack" class="logo"> <!-- Cambia "logo.png" por tu imagen -->
        <h1>FONTRACK</h1>
    </header>

    <main class="main-content">
        <h2>Gracias por tu compra</h2>
        <a href="./blog.html" class="btn">Empezar a aprender</a> <!-- Cambia "inicio.html" por la página a la que quieras ir -->
    </main>
</body>
</html>
